/* src/components/CategoriesSection.css */

.CategoriesSection-container {
    padding: 20px;
    text-align: center;
    background-color: #f3f9fb;
    /* padding-bottom: 5%; */
  }
  
  .CategoriesSection-title {
    font-size: 24px;
    margin-bottom: 20px;
    color: #04444d;
  }
  
  .CategoriesSection-grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 20px;
    justify-items: center;
  }
  .CategoriesSection-Titles{
    display: grid;
    /* grid-template-columns: repeat(5, 1fr); */
    gap: 20px;
    justify-items: center;
    width: 100%;
    color: #004e91;
    font-size: 700;
  }
  
  .CategoriesSection-item {
    position: relative;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    overflow: hidden;
    transition: transform 0.3s ease;
  }
  
  .CategoriesSection-item:hover {
    transform: scale(1.05);
  }
  
  .CategoriesSection-image-wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    overflow: hidden;
  }
  
  .CategoriesSection-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
  }
  
  .CategoriesSection-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    background-color: rgba(4, 68, 77, 0.7); /* Slightly transparent overlay */
    transition: opacity 0.3s ease;
  }
  
  .CategoriesSection-item:hover .CategoriesSection-overlay {
    opacity: 1;
  }
  
  .CategoriesSection-text {
    color: #f5f2eb;
    font-size: 18px;
    font-weight: bold;
  }
  .category-next{
    font-size: 2rem;
    color: #defafe;
  }
  
  @media (max-width: 768px) {
    .CategoriesSection-grid {
      grid-template-columns: repeat(2, 1fr);
    }
  
    .CategoriesSection-item {
      width: 120px;
      height: 120px;
    }
  }
  
  @media (max-width: 480px) {
    .CategoriesSection-grid {
      grid-template-columns: repeat(1, 1fr);
    }
  
    .CategoriesSection-item {
      width: 100px;
      height: 100px;
    }
  }
  